<div style="background-color:#000047; padding: 30px; border-radius: 10px; color: white; text-align: center;">
    <img src='Figures/alinco.png' style="height: 100px; margin-bottom: 10px;"/>
    <h1>Preprocesamiento y Análisis Exploratorio de Datos (EDA)</h1>
</div>

El **análisis exploratorio de datos (EDA, por sus siglas en inglés)** es el proceso inicial de examinar y resumir un conjunto de datos para comprender su estructura, características principales, patrones, valores atípicos y relaciones entre variables. Se utilizan técnicas estadísticas, visualizaciones y descripciones numéricas para obtener una visión general de los datos antes de aplicar modelos más complejos.

**¿Por qué es importante para la IA?**

- Permite detectar errores, inconsistencias y valores atípicos que pueden afectar el desempeño de los modelos de IA.
- Ayuda a comprender la distribución y relaciones entre variables, lo que facilita la selección de características relevantes.
- Es clave para preparar y limpiar los datos, asegurando que los algoritmos de IA trabajen con información de calidad.
- Facilita la identificación de patrones y tendencias que pueden guiar la elección del modelo o la estrategia de análisis.

Reduce el riesgo de interpretar mal los resultados, ya que proporciona contexto y conocimiento previo sobre los datos.
En resumen, el EDA es una herramienta fundamental para garantizar que los modelos de IA se construyan sobre bases sólidas y produzcan resultados confiables

### ¿Que preguntas hacernos cuando tenemos archivos en crudo?

- ¿Cuántos registros hay?
    - ¿Son demasiado pocos?
    - ¿Son muchos y no tenemos Capacidad (CPU+RAM) suficiente para procesarlo?
    
- ¿Están todas las filas completas ó tenemos campos con valores nulos?
    - En caso que haya demasiados nulos: ¿Queda el resto de información inútil?
    
- ¿Que datos son discretos y cuales continuos?
    - Muchas veces sirve obtener el tipo de datos: texto, int, double, float
    
- Si es un problema de tipo supervisado:
    - ¿Cuál es la columna de “salida”? ¿binaria, multiclase?
    - ¿Esta balanceado el conjunto salida?
    
- ¿Cuales parecen ser features importantes? ¿Cuales podemos descartar?

- ¿Siguen alguna distribución?

- ¿Hay correlación entre features (características)?

- En problemas de NLP es frecuente que existan categorías repetidas ó mal tipeadas, ó con mayusculas/minúsculas, singular y plural, por ejemplo “Abogado” y “Abogadas”, “avogado” pertenecerían todos a un mismo conjunto.

- ¿Estamos ante un problema dependiente del tiempo? Es decir un TimeSeries.

- Si fuera un problema de Visión Artificial: ¿Tenemos suficientes muestras de cada clase y variedad, para poder hacer generalizar un modelo de Machine Learning?

- ¿Cuales son los Outliers? (unos pocos datos aislados que difieren drásticamente del resto y “contaminan” ó desvían las distribuciones)
    - Podemos eliminarlos? es importante conservarlos?
    - son errores de carga o son reales?
    
- ¿Tenemos posible sesgo de datos? (por ejemplo perjudicar a clases minoritarias por no incluirlas y que el modelo de ML discrimine)

## Ejemplo

In [1]:
#Importar librerias
import pandas as pd
import numpy as np

In [2]:
df_movie = pd.read_csv('Data/movie_metadata.csv')
df_movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df_movie.shape #Numero de filas y columnas

(5043, 28)

In [5]:
df_movie.info() #Informacion del conjunto de datos con sus columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## Preprocesamiento de Datos

#### Análisis de datos Faltantes

In [6]:
df_movie_clean = df_movie.dropna() #Eliminar los registros que tienen valor NaN
df_movie_clean.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [7]:
#DataFrame resultante despues de la eliminación
df_movie_clean.shape

(3755, 28)

In [8]:
df_movie['duration'] #Columna duration

0       178.0
1       169.0
2       148.0
3       164.0
4         NaN
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

In [9]:
#fill con la media
df_movie['duration'].fillna(df_movie['duration'].mean(), inplace=True) #Rellenar con la media

In [10]:
df_movie['duration']

0       178.000000
1       169.000000
2       148.000000
3       164.000000
4       107.201074
           ...
5038     87.000000
5039     43.000000
5040     76.000000
5041    100.000000
5042     90.000000
Name: duration, Length: 5043, dtype: float64

In [12]:
df_movie['color']

0       Color
1       Color
2       Color
3       Color
4         NaN
        ...
5038    Color
5039    Color
5040    Color
5041    Color
5042    Color
Name: color, Length: 5043, dtype: object

In [13]:
#fill con una nueva categoria
df_movie['color'].fillna('unk', inplace=True)

In [15]:
df_movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.000000,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.000000,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.000000,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.000000,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,unk,Doug Walker,NaN,107.201074,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.000000,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.000000,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.000000,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.000000,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.000000,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [16]:
df_movie['genres'].unique() #Generos

array(['Action|Adventure|Fantasy|Sci-Fi', 'Action|Adventure|Fantasy',
       'Action|Adventure|Thriller', 'Action|Thriller', 'Documentary',
       'Action|Adventure|Sci-Fi', 'Action|Adventure|Romance',
       'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance',
       'Adventure|Family|Fantasy|Mystery', 'Action|Adventure',
       'Action|Adventure|Western', 'Action|Adventure|Family|Fantasy',
       'Action|Adventure|Comedy|Family|Fantasy|Sci-Fi',
       'Adventure|Fantasy', 'Action|Adventure|Drama|History',
       'Adventure|Family|Fantasy', 'Action|Adventure|Drama|Romance',
       'Drama|Romance', 'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Fantasy|Romance',
       'Action|Adventure|Fantasy|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy',
       'Adventure|Animation|Comedy|Family|Sport', 'Action|Crime|Thriller',
       'Action|Adventure|Horror|Sci-Fi|Thriller',
       'Adventure|Animation|Family|Sci-Fi',
       'Action|Comedy|Crime|Thriller', 'Animation|Drama|Family|Fantasy',
       'Action|Crime|Drama|Thriller', 'Adventure|Animation|Comedy|Family',
       'Action|Adventure|Animation|Comedy|Family|Sci-Fi',
       'Adventure|Drama|Family|Mystery', 'Action|Comedy|Sci-Fi|Western',
       'Action|Adventure|Fantasy|Horror|Thriller',
       'Action|Adventure|Comedy|Sci-Fi', 'Comedy|Family|Fantasy',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy',
       'Adventure|Drama|Family|Fantasy', 'Action|Adventure|Drama|Fantasy',
       'Action|Adventure|Family|Fantasy|Romance',
       'Action|Adventure|Drama|Sci-Fi', 'Action|Adventure|Romance|Sci-Fi',
       'Action|Adventure|Family|Mystery|Sci-Fi',
       'Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi',
       'Adventure|Animation|Comedy|Family|Sci-Fi',
       'Adventure|Animation|Family|Fantasy', 'Action|Sci-Fi',
       'Adventure|Drama|Sci-Fi', 'Action|Adventure|Drama|Horror|Sci-Fi',
       'Drama|Fantasy|Romance', 'Adventure|Sci-Fi',
       'Action|Adventure|Drama|Thriller',
       'Action|Drama|History|Romance|War',
       'Action|Adventure|Biography|Drama|History|Romance|War',
       'Action|Drama', 'Drama|Horror|Sci-Fi',
       'Adventure|Comedy|Family|Fantasy',
       'Animation|Comedy|Family|Fantasy',
       'Action|Adventure|Animation|Comedy|Family',
       'Adventure|Animation|Comedy|Family|Fantasy|Musical',
       'Mystery|Thriller', 'Adventure|Animation|Comedy|Drama|Family',
       'Action|Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Comedy|Fantasy|Horror', 'Drama|Fantasy|Horror|Thriller',
       'Action|Drama|Thriller', 'Adventure',
       'Action|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Comedy|Family|Fantasy|Mystery|Sci-Fi',
       'Action|Adventure|Animation|Fantasy', 'Comedy|Crime',
       'Action|Drama|History|War', 'Action|Adventure|Drama',
       'Action|Adventure|Animation|Comedy|Family|Fantasy',
       'Action|Drama|Mystery|Sci-Fi', 'Action|Adventure|Comedy|Thriller',
       'Action|Adventure|Animation|Fantasy|Romance|Sci-Fi',
       'Action|Adventure|Drama|History|War',
       'Adventure|Drama|Fantasy|Romance',
       'Animation|Comedy|Family|Musical',
       'Action|Crime|Drama|Mystery|Thriller',
       'Adventure|Drama|Thriller|Western',
       'Adventure|Animation|Comedy|Family|Western',
       'Action|Mystery|Thriller', 'Adventure|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Action|Crime|Mystery|Thriller', 'Action|Adventure|Family|Mystery',
       'Adventure|Drama|Romance|War',
       'Adventure|Animation|Family|Thriller', 'Action|Fantasy',
       'Action|Animation|Comedy|Family|Sci-Fi', 'Action|Comedy|Fantasy',
       'Fantasy', 'Adventure|Animation|Comedy|Family|Musical',
       'Action|Adventure|Crime|Mystery|Thriller',
       'Action|Adventure|History', 'Action', 'Adventure|Drama|Fantasy',
       'Action|Fantasy|Thriller', 'Action|Adventure|Comedy|Crime',
       'Adventure|Mystery|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Action|Crime|Sci-Fi|Thriller', 'Action|Family|Sport',
       'Comedy|Drama|Romance', 'Action|Comedy|Romance',
       'Action|Adventure|Mystery|Sci-Fi', 'Action|Drama|War',
       'Adventure|Drama|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Family|Fantasy', 'Crime|Thriller',
       'Action|Comedy|Crime|Romance|Thriller', 'Biography|Drama',
       'Action|Comedy|Crime|Sci-Fi|Thriller', 'Action|Adventure|Crime',
       'Action|Drama|Fantasy|War',
       'Animation|Comedy|Family|Music|Western',
       'Action|Adventure|Mystery|Sci-Fi|Thriller',
       'Action|Drama|Sci-Fi|Sport', 'Action|Crime|Romance|Thriller',
       'Action|Adventure|Comedy', 'Biography|Drama|Sport',
       'Action|Mystery|Sci-Fi|Thriller',
       'Animation|Family|Fantasy|Musical|Romance', 'Comedy',
       'Action|Adventure|Romance|Sci-Fi|Thriller', 'Comedy|Romance',
       'Action|Drama|Romance', 'Biography|Crime|Drama|History|Romance',
       'Biography|Crime|Drama', 'Action|Comedy|Thriller',
       'Action|Comedy|Crime', 'Action|Drama|Mystery|Thriller',
       'Drama|Western', 'Animation|Drama|Family|Musical|Romance',
       'Action|Adventure|Comedy|Family|Mystery',
       'Action|Romance|Thriller', 'Action|Fantasy|Horror|Mystery',
       'Adventure|Drama|Thriller', 'Biography|Comedy|Crime|Drama',
       'Action|Sci-Fi|War', 'Drama|Sci-Fi',
       'Action|Adventure|Animation|Family|Fantasy',
       'Action|Crime|Fantasy|Romance|Thriller', 'Adventure|Comedy|Sci-Fi',
       'Action|Crime|Sport|Thriller',
       'Action|Adventure|Biography|Drama|History|Thriller',
       'Action|Comedy|Sci-Fi', 'Action|Drama|Thriller|War',
       'Drama|Mystery|Thriller', 'Action|Adventure|Fantasy|Thriller',
       'Crime|Drama', 'Drama|History|Romance|War',
       'Animation|Comedy|Family|Sport', 'Comedy|Sci-Fi|Thriller',
       'Drama|History|War', 'Adventure|Animation|Comedy|Family|Romance',
       'Drama|Family|Fantasy|Romance', 'Drama|Fantasy|Thriller',
       'Drama|Mystery|Romance|Sci-Fi|Thriller',
       'Drama|History|War|Western', 'Action|Adventure|Animation|Family',
       'Adventure|Comedy|Family|Mystery|Sci-Fi',
       'Drama|Fantasy|Horror|Mystery|Thriller',
       'Animation|Comedy|Family|Sci-Fi',
       'Adventure|Comedy|Drama|Fantasy|Romance',
       'Action|Adventure|Comedy|Crime|Thriller', 'Crime|Drama|Thriller',
       'Adventure|Animation|Family|Fantasy|Musical|War', 'Action|Comedy',
       'Crime|Drama|Mystery|Thriller', 'Adventure|Drama|History',
       'Action|Adventure|Animation|Family|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy|Family|Fantasy|Music',
       'Drama|History|Thriller|War', 'Action|Animation|Comedy|Sci-Fi',
       'Comedy|Family|Fantasy|Horror|Mystery',
       'Drama|Mystery|Sci-Fi|Thriller', 'Action|Horror|Sci-Fi|Thriller',
       'Crime|Mystery|Thriller',
       'Action|Adventure|Comedy|Crime|Mystery|Thriller',
       'Comedy|Drama|Sci-Fi', 'Action|Family|Fantasy|Musical',
       'Drama|History|Sport', 'Adventure|Drama|Romance',
       'Animation|Comedy|Family|Music|Romance',
       'Animation|Comedy|Family|Fantasy|Musical|Romance',
       'Crime|Drama|Horror|Mystery|Thriller', 'Adventure|Comedy|Family',
       'Action|Adventure|Comedy|Fantasy', 'Comedy|Drama|Music|Musical',
       'Adventure|Comedy|Drama|Family|Fantasy',
       'Action|Comedy|Fantasy|Romance', 'Comedy|Romance|Sci-Fi',
       'Adventure|Comedy|Mystery', 'Comedy|Drama|Fantasy|Romance',
       'Action|Comedy|Family|Fantasy',
       'Action|Adventure|Fantasy|Horror|Sci-Fi',
       'Crime|Drama|History|Mystery|Thriller', 'Comedy|Drama',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Sci-Fi',
       'Action|Drama|Romance|Sci-Fi|Thriller', 'Comedy|Crime|Sport',
       'Comedy|Family|Fantasy|Romance',
       'Action|Adventure|Crime|Drama|Sci-Fi|Thriller',
       'Adventure|Drama|History|Romance|War', 'Comedy|Family|Sci-Fi',
       'Fantasy|Horror|Mystery|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi|Sport',
       'Adventure|Comedy|Crime|Family|Mystery', 'Drama|Sci-Fi|Thriller',
       'Action|Crime|Mystery|Romance|Thriller',
       'Action|Adventure|Comedy|Romance',
       'Adventure|Animation|Family|Western', 'Comedy|Family|Romance',
       'Action|Adventure|Family|Sci-Fi|Thriller',
       'Animation|Family|Fantasy|Music',
       'Action|Adventure|Family|Fantasy|Thriller', 'Comedy|Fantasy',
       'Action|Adventure|Comedy|Fantasy|Thriller',
       'Drama|Horror|Mystery|Sci-Fi', 'Action|Sci-Fi|Thriller',
       'Drama|History|Thriller', 'Adventure|Animation|Family',
       'Drama|Musical|Romance', 'Documentary|Drama',
       'Action|Adventure|Drama|History|Romance', 'Animation|Family',
       'Adventure|Animation|Drama|Family|Musical',
       'Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Adventure|Animation|Drama|Family|Fantasy', 'Sci-Fi|Thriller',
       'Animation|Comedy|Family', 'Action|Crime|Fantasy|Thriller',
       'Comedy|Drama|Family|Music|Musical|Romance',
       'Horror|Mystery|Thriller', 'Action|Adventure|Comedy|Family|Sci-Fi',
       'Comedy|Family', 'Biography|Comedy|Drama|History',
       'Drama|Music|Musical', 'Crime|Drama|Mystery', 'Comedy|Crime|Music',
       'Action|Comedy|Romance|Thriller',
       'Animation|Comedy|Family|Fantasy|Mystery',
       'Comedy|Crime|Drama|Romance', 'Action|Adventure|Romance|Thriller',
       'Drama|History|Romance', 'Action|Drama|Fantasy|Romance',
       'Action|Adventure|Animation|Family|Sci-Fi', 'Action|Drama|Sci-Fi',
       'Drama|Horror|Sci-Fi|Thriller', 'Animation|Comedy|Fantasy',
       'Action|Animation|Comedy|Family',
       'Action|Adventure|Comedy|Romance|Thriller', 'Action|Comedy|Sport',
       'Biography|Drama|History|War', 'Adventure|Animation|Comedy',
       'Action|Drama|Sport', 'Adventure|Drama|Family',
       'Drama|Mystery|Romance|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Romance',
       'Adventure|Drama|War', 'Action|Adventure|Crime|Thriller',
       'Adventure|Drama|Fantasy|Mystery|Thriller',
       'Fantasy|Mystery|Romance|Sci-Fi|Thriller',
       'Drama|Fantasy|Mystery|Thriller',
       'Animation|Comedy|Family|Fantasy|Music',
       'Drama|Horror|Romance|Thriller', 'Drama|War', 'Drama',
       'Action|Drama|Fantasy|Horror|War',
       'Adventure|Family|Fantasy|Romance',
       'Adventure|Biography|Drama|History|War',
       'Action|Adventure|Horror|Sci-Fi', 'Action|Fantasy|Horror',
       'Comedy|Drama|Musical|Romance', 'Action|Sci-Fi|Sport',
       'Action|Adventure|Animation|Comedy|Crime|Family|Fantasy',
       'Adventure|Animation|Family|Fantasy|Musical',
       'Action|Crime|Mystery|Sci-Fi|Thriller',
       'Action|Comedy|Crime|Drama|Thriller',
       'Adventure|Drama|History|Romance', 'Biography|Drama|Thriller',
       'Action|Drama|History|Thriller', 'Action|Adventure|Fantasy|War',
       'Comedy|Fantasy|Romance',
       'Action|Adventure|Comedy|Romance|Thriller|Western',
       'Biography|Drama|Sport|War', 'Comedy|Drama|Family|Musical',
       'Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller', 'Drama|Sport',
       'Action|Fantasy|Sci-Fi|Thriller', 'Drama|Mystery|Romance',
       'Adventure|Biography|Drama|History|Sport|Thriller',
       'Crime|Drama|Fantasy', 'Adventure|Biography|Crime|Drama|Western',
       'Action|War', 'Comedy|Romance|Sport',
       'Crime|Drama|Mystery|Thriller|Western', 'Comedy|Sport',
       'Comedy|Drama|Family', 'Crime|Drama|Fantasy|Mystery',
       'Adventure|Animation|Biography|Drama|Family|Fantasy|Musical',
       'Drama|Romance|Western', 'Documentary|Music', 'Drama|Thriller',
       'Animation|Family|Fantasy', 'Action|Fantasy|Horror|Sci-Fi',
       'Biography|Comedy|Drama', 'Action|Horror|Sci-Fi',
       'Adventure|Comedy', 'Biography|Drama|History|Sport',
       'Comedy|Crime|Romance|Thriller', 'Comedy|Crime|Romance',
       'Horror|Mystery|Sci-Fi|Thriller', 'Biography|Drama|Music',
       'Drama|Fantasy|Sport', 'Adventure|Comedy|Drama|Music',
       'Action|Fantasy|Horror|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Romance',
       'Horror|Sci-Fi|Thriller', 'Drama|Fantasy|Mystery|Romance|Thriller',
       'Action|Adventure|Drama|History|Romance|War',
       'Drama|Fantasy|Mystery|Romance', 'Fantasy|Horror|Mystery|Romance',
       'Adventure|Comedy|Family|Romance|Sci-Fi', 'Drama|Horror|Thriller',
       'Action|Comedy|Mystery|Romance',
       'Action|Adventure|Comedy|Romance|Sci-Fi',
       'Action|Biography|Drama|History|Thriller|War',
       'Adventure|Comedy|Family|Fantasy|Horror',
       'Comedy|Family|Romance|Sci-Fi', 'Action|Adventure|Thriller|War',
       'Comedy|Drama|Romance|Sport', 'Comedy|Western',
       'Action|Comedy|Crime|Drama', 'Drama|Music|Romance|War',
       'Action|Comedy|Drama|Family|Thriller', 'Action|Crime',
       'Adventure|Animation|Drama|Family|History|Musical|Romance',
       'Action|Adventure|Drama|Romance|Sci-Fi',
       'Action|Adventure|Comedy|Family|Romance',
       'Action|Adventure|Comedy|Western',
       'Biography|Drama|History|Musical',
       'Adventure|Drama|Horror|Thriller', 'Action|Drama|Sport|Thriller',
       'Drama|Musical|Romance|Thriller', 'Comedy|Drama|Family|Fantasy',
       'Adventure|Comedy|Crime|Family|Musical',
       'Drama|Music|Musical|Romance', 'Drama|Mystery|Romance|War',
       'Crime|Drama|Romance', 'Crime|Horror|Mystery|Thriller',
       'Adventure|Animation|Drama|Family|Fantasy|Musical|Mystery|Romance',
       'Action|Horror|Thriller', 'Drama|History|Horror',
       'Drama|Romance|Sport', 'Comedy|Family|Musical|Romance',
       'Romance|Sci-Fi|Thriller', 'Biography|Comedy|Drama|Romance',
       'Mystery|Sci-Fi|Thriller', 'Drama|Fantasy|Horror',
       'Adventure|Comedy|Drama|Fantasy|Musical', 'Horror|Mystery',
       'Action|Adventure|Family|Fantasy|Sci-Fi|Thriller',
       'Adventure|Comedy|Family|Fantasy|Romance|Sport',
       'Adventure|Horror|Mystery', 'Crime|Drama|Romance|Thriller',
       'Comedy|Crime|Drama|Thriller', 'Drama|Fantasy',
       'Adventure|Comedy|Drama', 'Action|Biography|Drama|History|War',
       'Adventure|Comedy|Fantasy', 'Adventure|Comedy|Crime|Drama|Family',
       'Action|Biography|Crime|Drama|Thriller', 'Comedy|Sci-Fi',
       'Drama|Romance|Sci-Fi',
       'Action|Adventure|Comedy|Crime|Music|Mystery',
       'Comedy|Drama|Music', 'Action|Crime|Drama|Sci-Fi|Thriller',
       'Horror|Thriller', 'Action|Adventure|Comedy|Drama|War',
       'Drama|Mystery|Sci-Fi', 'Crime|Drama|Music',
       'Adventure|Crime|Drama|Western', 'Comedy|Drama|Thriller',
       'Drama|Romance|War', 'Action|Comedy|Crime|Music|Romance|Thriller',
       'Crime|Romance|Thriller', 'Action|Adventure|Drama|Sci-Fi|Thriller',
       'Action|Drama|Fantasy|Thriller|Western',
       'Action|Drama|Mystery|Thriller|War',
       'Biography|Crime|Drama|Thriller', 'Action|Comedy|Crime|Romance',
       'Action|Adventure|Family|Fantasy|Sci-Fi',
       'Adventure|Comedy|Family|Musical', 'Action|Horror',
       'Action|Adventure|Horror|Thriller', 'Comedy|Drama|Music|Romance',
       'Action|Crime|Drama|Romance|Thriller',
       'Comedy|Family|Romance|Sport', 'Drama|Family|Fantasy',
       'Drama|Fantasy|Musical|Romance',
       'Adventure|Comedy|Family|Fantasy|Sci-Fi', 'Comedy|Musical',
       'Biography|Drama|History', 'Action|Crime|Drama|Thriller|War',
       'Comedy|Crime|Thriller', 'Drama|Fantasy|Horror|Mystery',
       'Action|Animation|Comedy|Family|Fantasy',
       'Biography|Drama|History|Thriller',
       'Action|Adventure|Crime|Drama|Mystery|Thriller',
       'Animation|Family|Fantasy|Musical', 'Adventure|Drama|Western',
       'Biography|Drama|History|Romance', 'Drama|Horror|Mystery|Thriller',
       'Action|Fantasy|Western', 'Comedy|War', 'Drama|Music',
       'Action|Drama|Family|Sport', 'Action|Biography|Drama|Thriller|War',
       'Comedy|Drama|Sport', 'Adventure|Comedy|Sci-Fi|Western',
       'Fantasy|Horror|Romance', 'Biography|Drama|Romance',
       'Action|Adventure|Drama|Romance|War',
       'Adventure|Comedy|Crime|Romance',
       'Comedy|Drama|Family|Fantasy|Romance', 'Horror', 'Comedy|Music',
       'Action|Adventure|Drama|Romance|Thriller',
       'Biography|Drama|Music|Musical', 'Drama|History',
       'Comedy|Music|Romance',
       'Action|Adventure|Crime|Fantasy|Mystery|Thriller',
       'Adventure|Drama|Mystery', 'Biography|Crime|Drama|Music',
       'Crime|Drama|Horror|Thriller',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Musical',
       'Action|Adventure|Comedy|Music|Thriller',
       'Adventure|Animation|Comedy|Crime|Family',
       'Comedy|Romance|Sci-Fi|Thriller', 'Comedy|Crime|Family|Romance',
       'Crime|Horror|Thriller', 'Action|Horror|Mystery|Sci-Fi|Thriller',
       'Comedy|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy|Fantasy|Romance',
       'Action|Adventure|Family|Thriller',
       'Adventure|Comedy|Drama|Romance|Thriller|War',
       'Adventure|Animation|Comedy|Fantasy|Music|Romance',
       'Action|Drama|Fantasy', 'Action|Adventure|Drama|Fantasy|War',
       'Drama|Fantasy|Romance|Sci-Fi',
       'Animation|Comedy|Family|Horror|Sci-Fi',
       'Biography|Drama|Romance|Sport', 'Action|Biography|Drama',
       'Adventure|Drama', 'Horror|Mystery|Sci-Fi',
       'Action|Adventure|Drama|Thriller|Western',
       'Adventure|Family|Fantasy|Sci-Fi',
       'Adventure|Comedy|History|Romance', 'Action|Biography|Drama|Sport',
       'Drama|Family',
       'Action|Adventure|Crime|Drama|Family|Fantasy|Romance|Thriller',
       'Biography|Comedy|Romance', 'Action|Biography|Drama|History',
       'Biography|Drama|War', 'Adventure|Comedy|Family|Sci-Fi',
       'Biography|Drama|Family|History|Sport',
       'Biography|Comedy|Drama|History|Music', 'Fantasy|Horror',
       'Comedy|Drama|Family|Sport', 'Comedy|Drama|Romance|Sci-Fi',
       'Adventure|Animation|Comedy|Family|War',
       'Action|Comedy|Sci-Fi|Thriller', 'Comedy|Horror',
       'Drama|Thriller|War', 'Action|Western',
       'Action|Adventure|Family|Sci-Fi',
       'Adventure|Biography|Drama|Thriller', 'Drama|Romance|War|Western',
       'Action|Comedy|Crime|Western',
       'Action|Adventure|Comedy|Drama|Thriller', 'Drama|Music|Romance',
       'Action|Adventure|Crime|Drama|Thriller',
       'Adventure|Comedy|Family|Sport', 'Comedy|Drama|Fantasy',
       'Comedy|Family|Sport', 'Action|Adventure|Drama|Family',
       'Action|Comedy|War', 'Drama|Family|Sport',
       'Action|Thriller|Western', 'Action|Drama|Fantasy|Horror|Thriller',
       'Animation|Comedy|Family|Fantasy|Musical',
       'Action|Adventure|Comedy|Fantasy|Romance',
       'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
       'Adventure|Comedy|Crime|Drama', 'Drama|Mystery',
       'Comedy|Fantasy|Horror|Thriller',
       'Crime|Drama|Mystery|Sci-Fi|Thriller', 'Comedy|Crime|Musical',
       'Comedy|Drama|Family|Music|Romance', 'Comedy|Horror|Romance',
       'Comedy|Family|Fantasy|Sport',
       'Animation|Comedy|Family|Mystery|Sci-Fi',
       'Adventure|Comedy|Drama|Family|Sport',
       'Animation|Drama|Family|Fantasy|Musical|Romance',
       'Comedy|Horror|Musical|Sci-Fi', 'Crime|Drama|Sport',
       'Action|Adventure|Animation|Drama|Mystery|Sci-Fi|Thriller',
       'Action|Adventure|Crime|Drama|Romance', 'Action|Comedy|Horror',
       'Adventure|Horror|Thriller', 'Adventure|Fantasy|Mystery',
       'Action|Drama|Romance|Sport',
       'Biography|Crime|Drama|History|Western',
       'Action|Biography|Crime|Drama', 'Adventure|Animation|Fantasy',
       'Adventure|Animation|Comedy|Fantasy',
       'Biography|Drama|Music|Romance',
       'Adventure|Drama|Mystery|Sci-Fi|Thriller',
       'Biography|Comedy|Crime|Drama|Romance|Thriller',
       'Biography|Crime|Drama|History|Music',
       'Adventure|Animation|Comedy|Drama|Family|Musical',
       'Biography|Comedy|Drama|Music|Romance',
       'Adventure|Animation|Sci-Fi', 'Drama|Romance|Thriller',
       'Action|Fantasy|Horror|Thriller', 'Adventure|Biography',
       'Action|Comedy|Family', 'Action|Horror|Romance',
       'Adventure|Drama|History|Romance|Thriller|War',

#### Limpieza de los datos

In [17]:
#Leer DataFrame
dirty_df = pd.read_csv('Data/dirty_data.csv')
dirty_df.head()

   age  birth_date     marital                          people          ssn
0   24  02/12/1954     soltero                Alfonso A,guilar         6439
1   35  05/07/1958      casado               edu6ardo Castillo  689 24 9939
2   46  01-26-1956     Soltero                   jocelyn medel  306-05-2792
3   57  19xx-10-23  divorciado              VICTOR ramos _ _ _  99922a45832
4   10  02/12/0054     SOLTERO  CARLOS EDUARDO; OCHOA ARAMBULA         6439

In [18]:
dirty_df.info() #Informacion del DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         14 non-null     int64
 1   birth_date  14 non-null     object
 2   marital     13 non-null     object
 3   people      14 non-null     object
 4   ssn         13 non-null     object
dtypes: int64(1), object(4)
memory usage: 692.0+ bytes

#### Algunas funciones útiles para limpieza de datos

In [19]:
import string

In [20]:
string.punctuation #Signos de puntuación

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
# remover signos de puntuación
def remove_punctuation(x):
    try: #Capturar errores
        #Elemento de entrada, unir todos los caracteres si el caracter no es signo de puntuacion
        x = ''.join(ch for ch in x if ch not in string.punctuation) 
    except:
        print(f'{x} no es una cadena de caracteres')
        pass #Dejar pasar la función, no hara nada
    return x

In [22]:
#probando la función
s = 'Alf!onso? A,guilar__'
remove_punctuation(s) #Elimina los signos de puntuación

'Alfonso Aguilar'

In [23]:
string.digits #Cadena de caracteres de todos los digitos

'0123456789'

In [24]:
#Remover dígitos
def remove_digits(x):
    try:
        x=''.join(ch for ch in x if ch not in string.digits)
    except:
        print(f'{x} no es una cadena de caracteres')
        pass
    return x

In [25]:
#probando la función
s = 'Alf!6ons98o? 1A,guilar__'
remove_digits(s) #Elimina los digitos(numeros)

'Alf!onso? A,guilar__'

In [26]:
#Podemos usar ambas funciones
remove_punctuation(remove_digits(s))

'Alfonso Aguilar'

In [27]:
# remover espacios en blanco
def remove_whitespace(x):
    try:
        x=' '.join(x.split()) #split generando las listas de cadenas de caracteres y despues las uno
    except:
        pass
    return x

#Convertir a minisculas
def lower_text(x):
    try:
        x = x.lower()
    except:
        pass
    return x

#Convertir a mayusculas
def upper_text(x):
    try:
        x = x.upper()
    except:
        pass
    return x

# Función que convierta a mayúsculas la primera letra
def capitalize_text(x):
    try:
        x = x.capitalize()
    except:
        pass
    return x
    
# Reemplazar texto
def replace_text(x,to_replace, replacement):
    try:
        x = x.replace(to_replace, replacement)
    except:
        pass
    return x

In [28]:
# Probar en las columnas del dataset
dirty_df['people']

0                     Alfonso A,guilar
1                    edu6ardo Castillo
2                        jocelyn medel
3                   VICTOR ramos _ _ _
4       CARLOS EDUARDO; OCHOA ARAMBULA
5           JOSE MANUEL OCHOA CARDENAS
6            JUAN MARIO; OCHOA NAVARRO
7                LUIS ONTANEDA MIJARES
8          EDUARDO OMAR ORTEGA RAMIREZ
9     JOSE ALEJANDRO& PRECIADO GANDARA
10    Jose Aantonio Quintero Rodriguez
11             JOSE ALFONSO RAMIREZ D.
12             ANA PAULA RANGEL OCHOA&
13                  Arturo RUIZ CHAVEZ
Name: people, dtype: object

In [34]:
#Aplicar a cada uno de los registros alguna funcion
dirty_df['people'].apply(remove_punctuation).apply(remove_digits).apply(remove_whitespace).apply(lower_text).apply(capitalize_text)

0                      Alfonso aguilar
1                     Eduardo castillo
2                        Jocelyn medel
3                         Victor ramos
4        Carlos eduardo ochoa arambula
5           Jose manuel ochoa cardenas
6             Juan mario ochoa navarro
7                Luis ontaneda mijares
8          Eduardo omar ortega ramirez
9      Jose alejandro preciado gandara
10    Jose aantonio quintero rodriguez
11              Jose alfonso ramirez d
12              Ana paula rangel ochoa
13                  Arturo ruiz chavez
Name: people, dtype: object

In [37]:
dirty_df['birth_date']

0     02/12/1954
1     05/07/1958
2     01-26-1956
3     19xx-10-23
4     02/12/0054
5     05/07/1958
6     01-26-1956
7     19xx?10-23
8     02/12/1954
9     05/07/1958
10    01-26-1956
11    19xx-10-23
12    02/12/0054
13    05/07/1958
Name: birth_date, dtype: object

In [38]:
dirty_df['birth_date'].apply(replace_text, args=('-','/')).apply(replace_text, args=('?','/')) 
#Args agregar los argumementos de entrada(3 valores)

0     02/12/1954
1     05/07/1958
2     01/26/1956
3     19xx/10/23
4     02/12/0054
5     05/07/1958
6     01/26/1956
7     19xx/10/23
8     02/12/1954
9     05/07/1958
10    01/26/1956
11    19xx/10/23
12    02/12/0054
13    05/07/1958
Name: birth_date, dtype: object

### Practica 2: Agregar las funciones en la librería de clase HyAIA

En la Practica 1 se creo un archivo .py donde se pueda almacenar la clas HyAIA, ahora agrega nuevos métodos para la limpieza

In [2]:
from HyAIA import HyAIA as hia

In [48]:
df_dir = hia(dirty_df)

In [49]:
df_dir.data_categoricos

    birth_date     marital                            people          ssn
0   02/12/1954     soltero                  Alfonso A,guilar         6439
1   05/07/1958      casado                 edu6ardo Castillo  689 24 9939
2   01-26-1956     Soltero                     jocelyn medel  306-05-2792
3   19xx-10-23  divorciado                VICTOR ramos _ _ _  99922a45832
4   02/12/0054     SOLTERO    CARLOS EDUARDO; OCHOA ARAMBULA         6439
5   05/07/1958      CASado        JOSE MANUEL OCHOA CARDENAS  689 24 9939
6   01-26-1956     Soltero         JUAN MARIO; OCHOA NAVARRO  306-05-2792
7   19xx?10-23  DIVORCIADO             LUIS ONTANEDA MIJARES  99922a45832
8   02/12/1954     soltero       EDUARDO OMAR ORTEGA RAMIREZ          NaN
9   05/07/1958         NaN  JOSE ALEJANDRO& PRECIADO GANDARA         6439
10  01-26-1956     Soltero  Jose Aantonio Quintero Rodriguez  689 24 9938
11  19xx-10-23  divorciado           JOSE ALFONSO RAMIREZ D.  306-06-2792
12  02/12/0054     missing           ANA PAULA RANGEL OCHOA&  99922a45845
13  05/07/1958      casado                Arturo RUIZ CHAVEZ      missing

In [50]:
#Usar el metodo estático
df_dir.remove_punctuation('CARLOS EDUARDO; OCHOA ARAMBULA') #Recibe "x" que es la cadena de caracteres y da como resultado la misma

'CARLOS EDUARDO OCHOA ARAMBULA'

In [54]:
#Usar el metodo estático
hia.remove_digits('edu6ardo Castillo')

'eduardo Castillo'

In [43]:
dirty_df['people'].apply(df_dir.remove_punctuation)

0                      Alfonso Aguilar
1                    edu6ardo Castillo
2                        jocelyn medel
3                      VICTOR ramos
4        CARLOS EDUARDO OCHOA ARAMBULA
5           JOSE MANUEL OCHOA CARDENAS
6             JUAN MARIO OCHOA NAVARRO
7                LUIS ONTANEDA MIJARES
8          EDUARDO OMAR ORTEGA RAMIREZ
9      JOSE ALEJANDRO PRECIADO GANDARA
10    Jose Aantonio Quintero Rodriguez
11              JOSE ALFONSO RAMIREZ D
12              ANA PAULA RANGEL OCHOA
13                  Arturo RUIZ CHAVEZ
Name: people, dtype: object

## Reporte de Calidad de Datos

Un **reporte de calidad de datos** es un documento o análisis que evalúa el estado y las características de un conjunto de datos antes de su uso en proyectos analíticos o de inteligencia artificial. Este reporte identifica problemas, inconsistencias y riesgos asociados a los datos, ayudando a tomar decisiones sobre limpieza, transformación y uso adecuado.

**Aspectos que suele incluir:**

- Valores faltantes: Cantidad y porcentaje de datos ausentes por columna
- Valores presentes: Cantidad y porcentaje de datos presentes por columna
- Duplicados (Registros repetidos en el dataset).
- Tipos de datos: Verificación de formatos (numérico, texto, fecha, etc.).
- Distribución de variables: Estadísticas descriptivas (media, mediana, moda, etc.).
- Valores atípicos: Detección de datos fuera de rango o inusuales.
- Errores de formato: Problemas en fechas, números, codificación, etc.

Un reporte de calidad de datos permite detectar y corregir problemas antes de entrenar modelos de IA, asegurando resultados más confiables y evitando sesgos o errores en el análisis.

En este apartado crearemos nuestros reportes de calidad de datos

In [15]:
#Dataset de paises
df_countries = pd.read_csv('Data/countries.csv', sep=';')

In [16]:
df_countries.head() #Primeros 5 registros

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.0,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,82880.0,Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,647500.0,Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.0,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.0,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai

In [17]:
def dqr(data):
    
    #% Lista de variables de la base de datos
    columns = pd.DataFrame(list(data.columns.values), columns=['Columns_Names'], 
                           index=list(data.columns.values))
    
    #Lista de tipos de datos del dataframe
    data_dtypes = pd.DataFrame(data.dtypes, columns=['Dtypes'])
    
    #Lista de valores presentes
    present_values = pd.DataFrame(data.count(), columns=['Present_values']) #Count conteo de los registos con valor
    
    #Lista de valores missing (Valores faltantes/nulos nan)
    missing_values = pd.DataFrame(data.isnull().sum(), columns=['Missing_values'])
    
    #Valores unicos de las columnas
    unique_values = pd.DataFrame(columns=['Unique_values'])
    for col in list(data.columns.values):
        unique_values.loc[col] = [data[col].nunique()]
    
    # Información estadística
    #Lista de valores máximos
    max_values = pd.DataFrame(columns=['Max_values'])
    for col in list(data.columns.values):
        try:
            max_values.loc[col] = [data[col].max()]
        except:
            max_values.loc[col] = ['N/A']
        pass
            
    #Lista de valores mínimos
    min_values = pd.DataFrame(columns=['Min_values'])
    for col in list(data.columns.values):
        try:
            min_values.loc[col] = [data[col].min()]
        except:
            min_values.loc[col] = ['N/A']
        pass
        
    #Lista de valores con su desviación estandar
    std_values = pd.DataFrame(columns=['Std_values'])
    for col in list(data.columns.values):
        try:
            std_values.loc[col] = [data[col].std()]
        except:
            std_values.loc[col] = ['N/A']
        pass   
        
    #Lista de valores con los percentiles
    
    p25_values = pd.DataFrame(columns=['P25'])
    p50_values = pd.DataFrame(columns=['P50_Median'])
    p75_values = pd.DataFrame(columns=['P75'])

    for col in list(data.columns.values):
        try:
            p25_values.loc[col] = [data[col].quantile(0.25)]
            p50_values.loc[col] = [data[col].quantile(0.50)]
            p75_values.loc[col] = [data[col].quantile(0.75)]
        except:
            p25_values.loc[col] = ['N/A']
            p50_values.loc[col] = ['N/A']
            p75_values.loc[col] = ['N/A']
        pass
        
    #Lista de valores con la media
    mean_values = pd.DataFrame(columns=['Mean_values'])
    for col in list(data.columns.values):
        try:
            mean_values.loc[col] = [data[col].mean()]
        except:
            mean_values.loc[col] = ['N/A']
        pass
       
    return columns.join(data_dtypes).join(present_values).join(missing_values).join(unique_values).join(max_values).join(min_values).join(mean_values).join(p25_values).join(p50_values).join(p75_values).join(std_values)

In [59]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   alpha_2              251 non-null    object
 1   alpha_3              252 non-null    object
 2   area                 252 non-null    float64
 3   capital              246 non-null    object
 4   continent            210 non-null    object
 5   currency_code        251 non-null    object
 6   currency_name        251 non-null    object
 7   eqivalent_fips_code  1 non-null      object
 8   fips                 249 non-null    object
 9   geoname_id           252 non-null    int64
 10  languages            249 non-null    object
 11  name                 252 non-null    object
 12  neighbours           165 non-null    object
 13  numeric              252 non-null    int64
 14  phone                247 non-null    object
 15  population           252 non-null    int64
 16  postal_code_format   154 non-null    object
 17  postal_code_regex    152 non-null    object
 18  tld                  250 non-null    object
dtypes: float64(1), int64(3), object(15)
memory usage: 37.5+ KB

In [18]:
dqr(df_countries)

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,P25,P50_Median,P75,Std_values
alpha_2,alpha_2,object,251,1,251,N/A,N/A,N/A,N/A,N/A,N/A,N/A
alpha_3,alpha_3,object,252,0,252,ZWE,ABW,N/A,N/A,N/A,N/A,N/A
area,area,float64,252,0,248,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759
capital,capital,object,246,6,244,N/A,N/A,N/A,N/A,N/A,N/A,N/A
continent,continent,object,210,42,6,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_code,currency_code,object,251,1,155,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_name,currency_name,object,251,1,82,N/A,N/A,N/A,N/A,N/A,N/A,N/A
eqivalent_fips_code,eqivalent_fips_code,object,1,251,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A
fips,fips,object,249,3,249,N/A,N/A,N/A,N/A,N/A,N/A,N/A
geoname_id,geoname_id,int64,252,0,252,8505033,49518,2427869.984127,1163774.5,2367967.0,3478296.25,1632092.92473
languages,languages,object,249,3,246,N/A,N/A,N/A,N/A,N/A,N/A,N/A
name,name,object,252,0,252,Zimbabwe,Afghanistan,N/A,N/A,N/A,N/A,N/A
neighbours,neighbours,object,165,87,159,N/A,N/A,N/A,N/A,N/A,N/A,N/A
numeric,numeric,int64,252,0,252,894,0,434.309524,217.0,436.0,652.5,254.663139
phone,phone,object,247,5,233,N/A,N/A,N/A,N/A,N/A,N/A,N/A
population,population,int64,252,0,249,1330044000,0,27276790.083333,187952.75,4268583.0,15366875.0,116412698.519382
postal_code_format,postal_code_format,object,154,98,45,N/A,N/A,N/A,N/A,N/A,N/A,N/A
postal_code_regex,postal_code_regex,object,152,100,54,N/A,N/A,N/A,N/A,N/A,N/A,N/A
tld,tld,object,250,2,248,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [ ]:
class HyAIA:
    def __init__(self, df):
        self.data = df
        self.columns = df.columns
        self.dqr = self.get_dqr()

    def dqr(self):
        """
        Método para un reporte de calidad de datos
        """
        return None

In [7]:
df_coun = hia(df_countries)

In [8]:
df_coun.df_dqr

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,P25,P50_Median,P75,Std_values
alpha_2,alpha_2,object,251,1,251,N/A,N/A,N/A,N/A,N/A,N/A,N/A
alpha_3,alpha_3,object,252,0,252,ZWE,ABW,N/A,N/A,N/A,N/A,N/A
area,area,float64,252,0,248,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759
capital,capital,object,246,6,244,N/A,N/A,N/A,N/A,N/A,N/A,N/A
continent,continent,object,210,42,6,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_code,currency_code,object,251,1,155,N/A,N/A,N/A,N/A,N/A,N/A,N/A
currency_name,currency_name,object,251,1,82,N/A,N/A,N/A,N/A,N/A,N/A,N/A
eqivalent_fips_code,eqivalent_fips_code,object,1,251,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A
fips,fips,object,249,3,249,N/A,N/A,N/A,N/A,N/A,N/A,N/A
geoname_id,geoname_id,int64,252,0,252,8505033,49518,2427869.984127,1163774.5,2367967.0,3478296.25,1632092.92473
languages,languages,object,249,3,246,N/A,N/A,N/A,N/A,N/A,N/A,N/A
name,name,object,252,0,252,Zimbabwe,Afghanistan,N/A,N/A,N/A,N/A,N/A
neighbours,neighbours,object,165,87,159,N/A,N/A,N/A,N/A,N/A,N/A,N/A
numeric,numeric,int64,252,0,252,894,0,434.309524,217.0,436.0,652.5,254.663139
phone,phone,object,247,5,233,N/A,N/A,N/A,N/A,N/A,N/A,N/A
population,population,int64,252,0,249,1330044000,0,27276790.083333,187952.75,4268583.0,15366875.0,116412698.519382
postal_code_format,postal_code_format,object,154,98,45,N/A,N/A,N/A,N/A,N/A,N/A,N/A
postal_code_regex,postal_code_regex,object,152,100,54,N/A,N/A,N/A,N/A,N/A,N/A,N/A
tld,tld,object,250,2,248,N/A,N/A,N/A,N/A,N/A,N/A,N/A

## Tarea 1: Modificación de la librería de clase

Tomando en cuenta la libreria creada en clase HyAIA, y la función de reporte de calidad de datos `dqr()`, realizar lo siguiente:

Modificar la función dqr() para tener lo siguiente:

>1.- Modificar la función dqr() para que en el reporte se agregue una columna que sea booleana boolena para representar si una columna es categórica ('Is_categorical') ('Is_categorical' True-->col categorica, False ---> numérica)

>2.- Modificar la función dqr() para que en el reporte se agregue una columna con las categorías de las columnas (valores unicos) que resulten ser categóricas (si las categorias > 10, no agregar esas categorias)

>3.- Aplicar el análisis estadístico de las columnas creadas (max, min, mean, std) solo para las columnas que sean numéricas ('Is_categorical' == False)

### EDA utilizando el reporte de calidad de datos

In [10]:
hy_countries = hia(df_countries)

In [11]:
#Dataframe a analisar
hy_countries.data.head()

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.0,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,82880.0,Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,647500.0,Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.0,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.0,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai

In [22]:
# reporte de calidad de datos
dqr(hy_countries)

AttributeError: 'HyAIA' object has no attribute 'dtypes'

In [24]:
from HyAIA import HyAIA as hy

In [25]:
hy_countries = hy(df_countries)

In [26]:
#columnas categoricas
hy_countries.categoricos_columns

['alpha_2',
 'alpha_3',
 'capital',
 'continent',
 'currency_code',
 'currency_name',
 'fips',
 'languages',
 'name',
 'neighbours',
 'phone',
 'postal_code_format',
 'postal_code_regex',
 'tld']

In [27]:
# Limpieza de datos:rellenar columnas categoricas con etiqueta ('unk') representando una nueva categoría 
for col_cat in hy_countries.categoricos_columns:
    hy_countries.data[col_cat].fillna('unk', inplace=True)

C:\Users\Lili\AppData\Local\Temp\ipykernel_11780\1485720974.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hy_countries.data[col_cat].fillna('unk', inplace=True)

In [28]:
# Obtener nuevamente el reporte de calidad de datos
hy_countries.dqr = hy_countries.get_dqr()
hy_countries.dqr

,Columns_Names,Dtypes,Present_values,Missing_values,Unique_values,Max_values,Min_values,Mean_values,P25,P50_Median,P75,Std_values
alpha_2,alpha_2,object,252,0,252,unk,AD,N/A,N/A,N/A,N/A,N/A
alpha_3,alpha_3,object,252,0,252,ZWE,ABW,N/A,N/A,N/A,N/A,N/A
area,area,float64,252,0,248,17100000.0,0.0,595287.855913,1098.0,64894.5,362224.5,1904817.772759
capital,capital,object,252,0,245,unk,Willemstad,N/A,N/A,N/A,N/A,N/A
continent,continent,object,252,0,7,unk,AF,N/A,N/A,N/A,N/A,N/A
currency_code,currency_code,object,252,0,156,unk,AED,N/A,N/A,N/A,N/A,N/A
currency_name,currency_name,object,252,0,83,unk,Afghani,N/A,N/A,N/A,N/A,N/A
eqivalent_fips_code,eqivalent_fips_code,object,1,251,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A
fips,fips,object,252,0,250,unk,AA,N/A,N/A,N/A,N/A,N/A
geoname_id,geoname_id,int64,252,0,252,8505033,49518,2427869.984127,1163774.5,2367967.0,3478296.25,1632092.92473
languages,languages,object,252,0,247,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr","aa-ER,ar,tig,kun,ti-ER",N/A,N/A,N/A,N/A,N/A
name,name,object,252,0,252,Zimbabwe,Afghanistan,N/A,N/A,N/A,N/A,N/A
neighbours,neighbours,object,252,0,160,unk,"AD,PT,GI,FR,MA",N/A,N/A,N/A,N/A,N/A
numeric,numeric,int64,252,0,252,894,0,434.309524,217.0,436.0,652.5,254.663139
phone,phone,object,252,0,234,unk,,N/A,N/A,N/A,N/A,N/A
population,population,int64,252,0,249,1330044000,0,27276790.083333,187952.75,4268583.0,15366875.0,116412698.519382
postal_code_format,postal_code_format,object,252,0,46,unk,###,N/A,N/A,N/A,N/A,N/A
postal_code_regex,postal_code_regex,object,252,0,55,unk,^((97|98)(4|7|8)\d{2})$,N/A,N/A,N/A,N/A,N/A
tld,tld,object,252,0,249,unk,.ad,N/A,N/A,N/A,N/A,N/A

In [29]:
#eliminar la columna con mayor numero de valores faltantes
hy_countries.data.drop('eqivalent_fips_code', axis=1, inplace=True)

In [30]:
hy_countries.data.head()

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.0,Andorra la Vella,EU,EUR,Euro,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,82880.0,Abu Dhabi,AS,AED,Dirham,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,unk,unk,.ae
2,AF,AFG,647500.0,Kabul,AS,AFN,Afghani,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,unk,unk,.af
3,AG,ATG,443.0,St. John's,unk,XCD,Dollar,AC,3576396,en-AG,Antigua and Barbuda,unk,28,+1-268,86754,unk,unk,.ag
4,AI,AIA,102.0,The Valley,unk,XCD,Dollar,AV,3573511,en-AI,Anguilla,unk,660,+1-264,13254,unk,unk,.ai

### Iniciando el análisis

In [ ]:
# alpha_3 representa el tag del país
hy_countries.data[hy_countries.data['alpha_3']=='MEX']

In [ ]:
#Cuáles son las lenguas de los países?
hy_countries.data['languages'].unique()

In [ ]:
#Buscar cuales son los países con lengua español en el dataset
df_countries_es = hy_countries.data[hy_countries.data['languages'].str.contains('es')]
df_countries_es.head()

In [ ]:
df_countries_es.shape

In [ ]:
df_countries_es_10 = df_countries_es.sort_values(by='population', ascending=False).head(10)

In [ ]:
# Obtener el top 10 de países con mayor población que hablan Español
df_countries_es_10.set_index('alpha_3')[['population']].plot(kind='bar')

In [ ]:
#Obtener el top 10 de paises con mayor superficie con habla en español
df_countries_es_10.set_index('alpha_3')[['area']].plot(kind='bar')

In [ ]:
#Cuáles son los países con area mayor a 200000?
df_countries_20 = hy_countries.data[hy_countries.data['area']>200000]
df_countries_20.head()

In [ ]:
#Gráfico de los 20 países con mayor superficie
df_countries_20.set_index('alpha_3')['area'].plot(kind='bar', figsize=(20,10))

In [ ]:
df_countries_es[df_countries_es['alpha_3']=='VEN']

In [ ]:
# Paises que tienen frontera con Mexico?
df_countries_es[df_countries_es['neighbours'].str.contains('CO')]

In [ ]:
# Paises que tienen frontera con Colombia, Venezuela, Brazil, Argentina?

## Práctica 3

1. ¿cuáles son los países que tienen como currency name == Peso?
2. ¿cuáles son los 5 países más grandes (área) que tienen como currency name == Peso ?
3. ¿cuáles son los 5 países más grandes (en población) que tienen como currency name == Peso ?
4. ¿Cuáles son los países y currency code, con currency name== Peso?

In [ ]:
df_countries_es.groupby('currency_name')['name'].value_counts()

In [ ]:
#1.-

df_countries_es_peso =df_countries_es[df_countries_es['currency_name']=='Peso']
df_countries_es_peso

In [ ]:
#2.- 
df_countries_es_peso.set_index('alpha_3').
sort_values(by='area', ascending=False)['area'].plot(kind='bar', figsize=(20,10))

In [ ]:
# Cuáles son los países que tienen más de 5 paises con frontera
hy_countries.data.head()

In [ ]:
str_paises = 'ES,FR'.split(',')

In [ ]:
len(str_paises)

In [ ]:
def conteo_frontera(x):
    str_x=[]
    try:
        str_x = x.split(',')
    except:
        pass
    return len(str_x)

In [ ]:
hy_countries_front = hy_countries.data.set_index('name')['neighbours'].apply(conteo_frontera)
hy_countries_front

In [ ]:
hy_countries_front.sort_values(ascending=False).head(30).plot(kind='bar', figsize=(10,8))