<div style="background-color:#e6f2ff; padding:20px; border-radius:10px;">
<img style="float:left; margin-right:28px; border-radius:8px; box-shadow:0 2px 8px #00004733;" src='alinco.png' width="120"/>
<div style="margin-left:150px;">
<h1 style="color:#000047; font-size:2.3em; margin-bottom:0;">Actividad 2</h1>
<h2 style="color:#003366; font-size:1.3em; margin-top:0;">Identificación, Preprocesamiento y Distribución de los datos</h2>
</div>
<br style="clear:both"/>
</div>



<div style="border-left:6px solid #000047; padding:18px; margin-top:18px; background:#f5f5f5; border-radius:8px;">
<span style="font-size:1.1em;"><b>Objetivo:</b> 
Practicar los métodos vistos en clase para la identificación de datos faltantes, outliers y análisis de la distribución de los datos, utilizando herramientas estadísticas y visuales modernas.</span>
<ul style="margin-top:10px;">
<li>Aplicar técnicas de análisis exploratorio de datos (EDA) para comprender la calidad y forma de los datos.</li>
<li>Identificar y tratar valores atípicos (outliers) tanto univariados como multivariados.</li>
<li>Visualizar y comparar distribuciones para tomar mejores decisiones en el preprocesamiento.</li>
</ul>
</div>

<div style="margin-top:18px; background:#f0f7ff; border-radius:8px; padding:14px; border:1px solid #b3c6ff;">
<b>Instrucciones generales:</b>
<ul style="margin-bottom:0;">
<li>Lee cuidadosamente cada sección y realiza los ejercicios propuestos.</li>
<li>Utiliza <b>la librería creada (HyAIA) en clase</b> para contestar lo que se pide.</li>
<li>Incluye comentarios y conclusiones breves en cada sección para reflexionar sobre los resultados obtenidos.</li>
<li>Recuerda que puedes agregar celdas de código o markdown adicionales si lo consideras necesario para explicar tu proceso.</li>
</ul>
</div>

<div style="margin-top:18px; background:#fffbe6; border-radius:8px; padding:12px; border:1px solid #ffe066;">
<b>Tip:</b> Aprovecha las funciones de visualización para interpretar mejor los resultados y justificar tus respuestas.
</div>

<h2 style="color:#003366; margin-top:0;">1. Medidas de posición y de forma <span style='font-size:0.7em; color:#888;'>&#128202;</span></h2>
<p style="font-size:1.1em;">
En esta sección analizarás el <b>dataset <code>tips</code> de la librería <code>seaborn</code></b> para practicar el análisis de calidad, distribución y forma de los datos.
</p>
<ul style="font-size:1.05em;">
<li><b>1.</b> <span style='color:#000047;'>Carga el dataset:</span> <code>sns.load_dataset('tips')</code></li>
<li><b>2.</b> <span style='color:#000047;'>Reporte de calidad:</span> Usa <code>dqr()</code> para obtener un resumen de los datos.</li>
<li><b>3.</b> <span style='color:#000047;'>Asimetría y curtósis:</span> Calcula estos valores para cada columna numérica.</li>
<li><b>4.</b> <span style='color:#000047;'>Visualización:</span> Grafica la distribución y medidas de forma de <code>total_bill</code>.</li>
<li><b>5.</b> <span style='color:#000047;'>Comparación por día:</span> Compara asimetría y curtósis de <code>total_bill</code> por <code>day</code>.</li>
<li><b>6.</b> <span style='color:#000047;'>Cuartiles:</span> Calcula los cuartiles de <code>tip</code>.</li>
<li><b>7.</b> <span style='color:#000047;'>Diagrama de cajas:</span> Visualiza <code>tip</code> y comenta tus observaciones.</li>
</ul>
<div style="margin-top:12px; background:#e6f2ff; border-left:4px solid #003366; padding:10px 18px; border-radius:8px;">
<b>Consejo:</b> Utiliza gráficos como histogramas, boxplots y tablas resumen para enriquecer tu análisis.
</div>

In [2]:
#Librerias.

import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#1. Cargar el dataset sns.load_dataset('tips')

tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
#2. Reporte de calidad: Usa dqr() para obtener un resumen de los datos.

In [ ]:
#3. Asimetría y curtósis: Calcula estos valores para cada columna numérica.

In [ ]:
#4. Visualización: Grafica la distribución y medidas de forma de total_bill.

In [ ]:
#5. Comparación por día: Compara asimetría y curtósis de total_bill por day.

In [ ]:
#6. Cuartiles: Calcula los cuartiles de tip

In [ ]:
#7. Diagrama de cajas: Visualiza tip y comenta tus observaciones.

<h2 style="color:#b36b00; margin-top:0;">2. Datos Atípicos (Outliers) <span style='font-size:0.7em; color:#888;'>&#9888;&#65039;</span></h2>
<p style="font-size:1.1em;">
En este apartado identificarás y analizarás <b>outliers univariados y multivariados</b> usando diferentes datasets y técnicas.
</p>
<div style="background:#fff2cc; border-left:4px solid #b36b00; padding:10px 18px; border-radius:8px; margin-bottom:10px;">
<b>Univariado:</b> <br>
Utiliza el dataset <code>ds_salaries.csv</code> (en la misma ruta que este notebook).
<ol style="font-size:1.05em;">
<li><b>Análisis exploratorio:</b> Visualiza la distribución y diagramas de caja de cada variable. Agrega comentarios sobre tus hallazgos.</li>
<li><b>Identificación de outliers:</b> Aplica métodos vistos en clase según la distribución de cada variable.</li>
</ol>
</div>
<div style="background:#ffe6e6; border-left:4px solid #b30000; padding:10px 18px; border-radius:8px;">
<b>Multivariado:</b> <br>
Descarga y utiliza el dataset <a href="https://drive.google.com/file/d/19dZnyQcZzrQMkGWKETd-577r_SAN-Vfv/view?usp=drive_link" target="_blank"><code>credit_card.csv</code></a>.
<ol style="font-size:1.05em;">
<li><b>Identificación de outliers multivariados:</b> Aplica técnicas multivariadas vistas en clase para detectar valores atípicos.</li>
</ol>
</div>

In [6]:
#Cargar dataset ds_salaries.csv 

salarios = pd.read_csv("ds_salaries.csv")
salarios

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [ ]:
#UNIVARIADO
#1. Análisis exploratorio: Visualiza la distribución y diagramas de caja de cada variable. Agrega comentarios sobre tus hallazgos.

In [ ]:
#2. Identificación de outliers: Aplica métodos vistos en clase según la distribución de cada variable.

In [7]:
#Descarga y utiliza el dataset credit_card.csv.

creditos = pd.read_csv("credit_card.csv")
creditos

FileNotFoundError: [Errno 2] No such file or directory: 'credit_card.csv'

In [ ]:
#MULTIVARIADO
#Identificación de outliers multivariados: Aplica técnicas multivariadas vistas en clase para detectar valores atípicos.